* {
 
  padding: 0;
   
  margin: 0;
   
  border: none;
   
  }
html {
  font-size:62.5%;
}


body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  padding: 0;
  
  line-height: 3rem;
  margin:2rem !important;
  /* color: hsl(234, 12%, 34%); */
  /* color: hsl(229, 6%, 66%); */
  background-color: mintcream; 
}

/* Animation snow */
.snowflake {
  color: crimson;
  font-size: 0.8em;
  text-shadow: 0 0 1px yellow;
}

@-webkit-keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@-webkit-keyframes snowflakes-shake{0%{-webkit-transform:translateX(0px);transform:translateX(0px)}50%{-webkit-transform:translateX(80px);transform:translateX(80px)}100%{-webkit-transform:translateX(0px);transform:translateX(0px)}}@keyframes snowflakes-fall{0%{top:-10%}100%{top:100%}}@keyframes snowflakes-shake{0%{transform:translateX(0px)}50%{transform:translateX(80px)}100%{transform:translateX(0px)}}.snowflake{position:fixed;top:-10%;z-index:9999;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;cursor:default;-webkit-animation-name:snowflakes-fall,snowflakes-shake;-webkit-animation-duration:10s,3s;-webkit-animation-timing-function:linear,ease-in-out;-webkit-animation-iteration-count:infinite,infinite;-webkit-animation-play-state:running,running;animation-name:snowflakes-fall,snowflakes-shake;animation-duration:10s,3s;animation-timing-function:linear,ease-in-out;animation-iteration-count:infinite,infinite;animation-play-state:running,running}.snowflake:nth-of-type(0){left:1%;-webkit-animation-delay:0s,0s;animation-delay:0s,0s}.snowflake:nth-of-type(1){left:10%;-webkit-animation-delay:1s,1s;animation-delay:1s,1s}.snowflake:nth-of-type(2){left:20%;-webkit-animation-delay:6s,.5s;animation-delay:6s,.5s}.snowflake:nth-of-type(3){left:30%;-webkit-animation-delay:4s,2s;animation-delay:4s,2s}.snowflake:nth-of-type(4){left:40%;-webkit-animation-delay:2s,2s;animation-delay:2s,2s}.snowflake:nth-of-type(5){left:50%;-webkit-animation-delay:8s,3s;animation-delay:8s,3s}.snowflake:nth-of-type(6){left:60%;-webkit-animation-delay:6s,2s;animation-delay:6s,2s}.snowflake:nth-of-type(7){left:70%;-webkit-animation-delay:2.5s,1s;animation-delay:2.5s,1s}.snowflake:nth-of-type(8){left:80%;-webkit-animation-delay:1s,0s;animation-delay:1s,0s}.snowflake:nth-of-type(9){left:90%;-webkit-animation-delay:3s,1.5s;animation-delay:3s,1.5s}

/* User image */
.userImage{
  float: left;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  display: flex;
  position: relative;
  -webkit-animation: fadeInDown 500ms ease-in-out; /* Chrome, Safari, Opera */
    animation: fadeInDown 500ms ease-in-out;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }         
}

/* Title my resume */
.waviy {
  font-family: Georgia, serif;
  padding-right: 150px;
  padding-top: 10px;
  text-align: center;
  -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 40px;
  color: #111;
  text-transform: uppercase;
  animation: waviy 1s infinite;
  animation-delay: calc(.1s * var(--i))
}
@keyframes waviy {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

/* Introduce my name */
.header-sub-title {
  font-family: "Comic Sans MS", cursive, sans-serif;
  text-align: center;
  margin: auto;
  padding-top: 30px;
  font-weight: 600;
  max-width: 67.5rem;
  font-size: 300%;
  text-shadow: 1px 1px red;
  width: 100%;
  height: 20px;
}

/* Sub introduce */
.header__details {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding-top: 20px;
  font-weight: 400;
  max-width: 67.5rem;
  text-align: center;
  margin: 2rem auto;
  font-size: 200%;
  color: yellowgreen;
  opacity: 0;
  animation: in 3s ease-out forwards infinite;
  animation-delay: 1s;
}

@keyframes in{
  0%{
    letter-spacing: -17px;
    opacity: 0;
  }
  30%{
    letter-spacing: 4px;
    opacity: 1;
  }
  100%{
    letter-spacing: 2px;
    opacity: 1;
  }
}



h3, p {
  color: hsl(229, 6%, 66%);
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

h1, h4 {
  color: hsl(234, 12%, 34%);
}

h4 {
  margin: 0;
  font-size: 2.3rem;
  font-weight: 600;
}

.card {
  width: 27rem;
  background-color: snow;
  margin: 2rem;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, .2);
  border-top: 6px solid;
  border-radius: 8px;
  padding: 2rem;
}
.card:hover{
  background-color: cornsilk;
  cursor: pointer;
}
.card1 {
  border-color: hsl(180, 62%, 55%);
}

.card2 {
  border-color: hsl(0, 78%, 62%);
}

.card3 {
  border-color: hsl(34, 97%, 64%);
}

.card4 {
  border-color: hsl(212, 86%, 64%);
}

/* Image inside card */

img {
  padding-top: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
@media only screen and (min-width: 68em) {
  .card1 { 
      transform: translateY(50%);
      order: 1;
  }
  .card2 { 
      order: 2;
  }
  .card3 { 
      order: 4;
  }
  .card4 { 
      transform: translateY(50%);
      order: 3;
  }
}

/* Style all font awesome icons */
.fa {
  margin: 5px;
  padding: 10px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  background: black;
  color: white;
 
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}
.footer{
  position: relative;
  text-align: center;
}
